.main{
    width: 100%;
    height:calc(100vh);
    background-color: #fff;    
}
.notification_titel{
    width: 90%;
    height: 10%;
    /* margin-top: 10%; */
    margin-left: auto;
    margin-right: auto;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.39);
}
.puls_icon{
    height: 16px;
    width: 16px;
}
.addcc_addbcc{
    font-weight: 400;
    margin: 5px 10px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
        

.addcc_addbcc:hover{
     cursor: pointer;
}
.addcc_addbcc_main{
    display: flex;
}
c-email-input {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    /* border-bottom-color: #dddbda; */
    background-color: hidden;
    width: 100%;
}
.titel{
    /* position: absolute; */
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 25px;
    text-transform: capitalize;
    color: rgba(0, 0, 0, 0.56);
    /* text-shadow: 0px 4px 4px rgb(0 0 0 / 25%); */
}
.input_label{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    /* identical to box height, or 41% */
    color: #000000;

}
abbr{
    color: #ff0000;
}
.lgc-bg-inverse {
    background-color: rgb(22, 50, 92);
}
.input_outerbox {
    width: 85%;
    height: 61%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid;
    border-radius: 28px;
    margin-top: 1%;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    overflow: scroll;
    overflow-x: hidden;
    display: flex;
}
::-webkit-scrollbar {
    width: 10px;
    height: 90%;
}
.input_section{
    width: 90%;
    /* height: 80%; */
    padding-top: 2%;
    padding-bottom: 2%;
    margin-left: auto;
    margin-right: auto;
    margin: auto;
}
.input_section .slds-grid.slds-wrap {
    margin-top: 2%;
}
.input_box{
    width: 100%;
}
.slds-form-element__icon {
    display: inline-block;
    position: relative;
    /* padding-top: var(--lwc-spacingXxSmall,0.25rem); */
    vertical-align: top;
    line-height: var(--lwc-lineHeightReset,1);
    z-index: 1;
}
.bt-center{
    background-color: #ffffff;
    width: 100%;
    padding: var(--lwc-spacingMedium,1rem);
    /* margin-top: 1%; */
}
.bt{
    /* width: 100%; */
    background-color: #ffffff;
    width: 350px;
    margin-right: auto;
    margin-left: auto;

}
.qf-standard-button-cancel {
    height: 35px;
    width: 160px;
    margin-right: 15px;
    border-radius: 30px;
    background-color: #DEDEDE;
    font-size: 15px;
    color: #000000;
    border: none;
}

.qf-standard-button {
    height: 35px;
    width: 160px;
    margin-right: 15px;
    border-radius: 30px;
    background-color: #6699CC;
    font-size: 15px;
    color: #ffffff;
    border: none;
}


.email_to{
    display: flex;
    width: 100%;
}
.emailsend{
    padding-top: 3%;
    width: 70%;
}

.email_reply{
    padding-top: 2%;
}


.input-box{
    border: 1px solid #D3D3D3;
    /* height: 30PX; */
    min-height: 30px;
    overflow: hidden;
    border-radius: 5PX;
    padding: 2px;
}

.add{
    display: flex;
    flex-wrap: nowrap;
}
.email_subject{
    padding-top: 2%;
}
.email_message{
    width: 80%;
    padding-top: 2%;
}

.checkbox{
    padding-top: 2%;
}
.toadd{
    border: solid;
    padding: 0px 16px 0px 12px ;
    border-width: thin;
}
.input[c-emailInput_emailInput] {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: solid;
    border-bottom-color: rgb(214, 15, 15) !important;
    background-color: hidden;
    width: 100%;
}
.test{
    margin-top: 3%;
    border-bottom: 1px solid #D3D3D3;

}
.error_msg{
    color: #ff0000;
}

/* =========================     Spinner Sarts      =========================== */

.spinner-main-div {
    height: 100%;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
}

 .loader--ripple {
    display: inline-block;
    position: relative;
    height: 100px;
    width: 100px;

}

 .loader--ripple div {
    position: absolute;
    animation: loader--ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
    border: 4px solid;
    border-radius: 50%;
    opacity: 1;
}

 .loader--ripple div:nth-child(2) {
    animation-delay: -0.5s;
}

@keyframes loader--ripple {
    0% {
        top: 50px;
        left: 50px;
        opacity: 1;
        height: 0;
        width: 0;
    }

    100% {
        top: -1px;
        left: -1px;
        opacity: 0;
        height: 100px;
        width: 100px;
    }
}

 .loader--ripple div {
    border-color: #00539f;
}
.header{
    display: flex;
}
lightning-button{
    --lwc-buttonColorBorderPrimary:rgb(255, 255, 255);
}
.help_div{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 4px;
    font-size: 13px;
    margin: 15px 25px;
}
.help{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.feedback{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 9%;
}
.help{
    width: 5%;
    gap: 5px;
    /* color: #6699CC; */      /* Remove comment once button is working*/
    color: grey;
    border-radius: 16px;
    padding: 5px 0;
    text-align: center;
    font-size: 0.9rem;
    background: #FFFCFC;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
}
.crossIcon{
    left: 92%;
    display: none;
    cursor: pointer;
    position: absolute;
}
/* =========================     Spinner Sarts      =========================== */




.input {
    /* border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: solid; */
    height: 1.875rem;
    border: 1px solid;
    border-color: #dddbda;
    background-color: hidden;
    width: 100%;
}
.pill{
    border-radius: 4px !important;
    /* margin: 5px !important; */
   --sds-c-pill-color-background : #6699CC !important;
   --sds-c-pill-top-margin: 5px;
    color: white;
}

.email_error_msg{
    color: #ff0000;
}
/* .slds-pill{
    border-radius: 4px !important;
    margin: 5px !important;
   --sds-c-pill-color-background : #6699CC !important;
    color: white;
}
.slds-pill_container{
    border-radius: 4px !important;
    margin: 5px !important;
    --sds-c-pill-color-background : #6699CC !important;
    color: white;

} */
.input:focus {
    outline-width: 0;
}

.msg{
    --sds-c-textarea-sizing-min-height: initial;
}